.DivElement {
  // Box
  position: absolute;
  width: 250px;
  height: 250px;

  // Style
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 16px;

  &.selected {
    // Style
    outline: 2px solid #0000ff;
  }
}
